#footer {
    background-color: #d1efed;
    height: 5rem;
}

#footer-nav {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

#footer-nav li {
    margin-right: 3rem;
    font-weight: bold;
}