<div id="footer" class="container-fluid d-none d-md-block">
    <div class="row" style="height: 100%;">
        <div class="col-9">
            <ul id="footer-nav" class="d-flex justify-content-center align-items-center">
                <li>Término y condiciones</li>
                <li>Política y privacidad</li>
                <li>Servicios</li>
                <li>Blog</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center" style="height: 100%;">
                <img src="/assets/icon-instagram.svg">
                <img src="/assets/icon-linkedin.svg" style="margin-left: 1rem;">
            </div>
        </div>
    </div>
</div>