<div id="footer" class="container-fluid d-none d-md-block">
    <div class="row" style="height: 100%;">
        <div class="col-9">
            <ul id="footer-nav" class="d-flex justify-content-center align-items-center">
                <li><a routerLink="/terminos-y-condiciones">Términos y condiciones</a></li>
                <li><a routerLink="/politica-de-privacidad">Política de privacidad</a></li>
                <!--
                <li><a href="#">Servicios</a></li>
                -->
                <li><a href="https://blog.rework.website" target="__blank">Blog</a></li>
                <li><a routerLink="/preguntas-frecuentes">FAQ</a></li>
            </ul>
        </div>
        <div class="col-3">
            <div class="d-flex align-items-center" style="height: 100%;">
                <a href="https://instagram.com/reworkwebsite" target="__blank"><img src="/assets/icon-instagram.svg"></a>
                <a href="https://www.linkedin.com/company/rework-website" target="__blank"><img src="/assets/icon-linkedin.svg" style="margin-left: 1rem;"></a>
            </div>
        </div>
    </div>
</div>