<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>

<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="alert" [ngClass]="{'alert-success': result.ok, 'alert-danger': !result.ok}" role="alert" *ngIf="result.message">
        {{ result.message }}
    </div>
    <div *ngIf="showForm">
        <div class="container" style="padding-top: 10px; padding-bottom: 10px;">
            <h1 class="h1-responsive font-weight-bold">Editar tu postulación</h1>
            <form [formGroup]="editJobForm">

                <div class="md-form md-outline">
                    <input mdbInput mdbValidate type="text" id="company" class="form-control" formControlName="company">
                    <label for="company" class="">Nombre de empresa *</label>
                    <mdb-error *ngIf="company.invalid && (company.dirty || company.touched)">
                        <span *ngIf="company.errors.required">La empresa es requerida</span>
                    </mdb-error>
                </div>

                <div class="md-form md-outline margin-top-input">
                    <input mdbInput mdbValidate type="text" id="job-title" class="form-control" formControlName="jobTitle">
                    <label for="job-title" class="">Título del trabajo *</label>
                    <mdb-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)">
                        <span *ngIf="jobTitle.errors.required">Título del trabajo es requerido</span>
                    </mdb-error>
                </div>

                <div class="md-form md-outline margin-top-input">
                    <input #tag mdbInput type="text" id="job-tags" class="form-control" (keyup)="addTag( $event, tag.value )">
                    <label for="job-tags" class="">Tags</label>
                    <p class="input-explanation">
                        Añade tags para resaltar herramientas o conocimiento importante que esperas posean los postulantes. Escribelo y presiona Enter para añadirlo.
                    </p>
                    <div id="tags-container">
                        <span *ngFor="let tag of tagsAdded;let i = index;" class="addedTag" (click)="removeTag(i)">{{tag}} <mdb-icon fas icon="times"></mdb-icon></span>
                    </div>
                </div>

                <div class="md-form margin-top-input">
                    <select mdbValidate class="browser-default custom-select" formControlName="category">
                <option value="-99">Categoría de la postulación *</option>
                <option *ngFor="let category of categories" [value]="category._id">
                    {{ category.name }}
                </option>
            </select>
                    <mdb-error *ngIf="category.invalid">
                        <span *ngIf="category.errors?.required">Categoría es requerida</span>
                    </mdb-error>
                </div>

                <div class="md-form margin-top-input">
                    <select mdbValidate class="browser-default custom-select" formControlName="type">
                <option value="-99">Tipo de postulación *</option>
                <option *ngFor="let type of types" [value]="type._id">{{ type.name }}</option>
            </select>
                    <mdb-error *ngIf="type.invalid">
                        <span *ngIf="type.errors.required">Tipo es requerido</span>
                    </mdb-error>
                </div>

                <div class="md-form md-outline margin-top-input">
                    <input mdbInput type="text" id="location" class="form-control" formControlName="location">
                    <label for="location" class="">Ubicación</label>
                    <p class="input-explanation">
                        Especifica los lugares desde los cuales buscas postulantes. Separa las ubicaciones por punto y coma. Si buscas postulantes desde cualquier lugar deja este campo en blanco.
                    </p>
                </div>

                <!--Description-->
                <div class="margin-top-input">
                    <ckeditor [editor]="editor" [config]="editorConfig" formControlName="description"></ckeditor>
                </div>

                <div class="md-form md-outline margin-top-input">
                    <input mdbInput mdbValidate type="text" id="job-url" class="form-control" formControlName="url">
                    <label for="job-url" class="">Enlace a la postulación</label>
                    <mdb-error *ngIf="url.invalid && (url.dirty || url.touched)">
                        <span *ngIf="url.errors.required">Enlace es requerido</span>
                    </mdb-error>
                    <p class="input-explanation">
                        Incluye el enlace donde los aplicantes podrán postular a este trabajo. No incluyas los protocolos http o https, ejemplo www.mipostulacion.com
                    </p>
                </div>

                <!--Boosters-->
                <div style="margin-top:70px;" *ngIf="boosterService.find( boosters, 'booster_1' )">

                    <h1 class="h1-responsive font-weight-bold">Resalta tu postulación</h1>
                    <p>
                        Recuerda considerar estas indicaciones:
                    </p>
                    <ul>
                        <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.extension === true}">Formato JPG or PNG. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.extension === false" /></li>
                        <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.fileSize === true }">Tamaño máximo de archivo 2 MB. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.fileSize === false" /></li>
                        <li class="file-restriction-normal" [ngClass]="{'file-restriction-valid': fileValidations.dimensions === true }">Mínimo imagen cuadrada de 150x150px. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.dimensions === false" /></li>
                    </ul>
                    <div class="d-flex flex-column align-items-center">

                        <div class="empty-image company-image" [ngClass]="{'d-none': fileName}"></div>
                        <img id="company-image" [src]="companyImg | imageUrl" class="company-image" [ngClass]="{'d-none': !fileName}" /><br>
                        <input type="file" class="d-none" #fileUpload (change)="onFileSelected($event, 'booster_1')">
                        <button mdbBtn type="button" id="button-select-image" outline="true" mdbWavesEffect (click)="fileUpload.click()" *ngIf="!fileName">
                            Seleccionar imagen
                         </button>
                        <button mdbBtn type="button" id="button-remove-image" outline="true" *ngIf="fileName" (click)="removeFile('booster_1')" mdbWavesEffect>
                            Remover imagen
                        </button>

                    </div>

                </div>


                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-md-3 d-flex justify-content-center">
                        <button mdbBtn type="button" class="btn-post" rounded="true" block="true" mdbWavesEffect [disabled]="editJobForm.invalid" (click)="edit()">
                            Editar postulación
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>