<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 2rem; padding-bottom:10rem;">
            <h2 style="font-weight: bold;">
                Términos y condiciones
            </h2>
            <p style="font-weight: bold;">
                Actualizado Diciembre 28, 2020
            </p>
            <p>
                Estos Términos de servicio (los "Términos") describen los derechos y responsabilidades que se aplican a su uso del sitio web de Rework.
            </p>
            <p>
                Lea los Términos detenidamente antes de utilizar el Servicio. Si no está de acuerdo con los Términos, así como con la Política de privacidad de Rework, no puede utilizar el servicio. Si acepta los Términos en nombre de una empresa u otra entidad legal,
                declara que tiene la autoridad para vincular a dicha entidad a los Términos. Si no tiene dicha autoridad, no debe aceptar los Términos ni utilizar el Servicio en nombre de dicha entidad. El Servicio solo está disponible para usted si ha
                alcanzado la mayoría de edad en su jurisdicción de residencia y es completamente capaz y competente para entrar y cumplir con los Términos.
            </p>
            <p>
                Su cuenta Rework. Si crea una cuenta en el Servicio (su "Cuenta"), usted es responsable de mantener la seguridad de su Cuenta y su Contenido (como se define a continuación), y es totalmente responsable de todas las actividades que ocurran en su Cuenta
                y cualquier otra acciones tomadas en el Servicio. No debe describir o asignar Contenido a su Cuenta de una manera engañosa o ilegal, incluso de una manera destinada a comerciar con el nombre o la reputación de otros, y Rework puede cambiar
                o eliminar cualquier descripción o palabra clave que considere inapropiada o ilegal. Debe notificar inmediatamente a Rework de cualquier uso no autorizado de su Cuenta o cualquier otra violación de seguridad. Rework no será responsable
                de ningún acto u omisión por su parte, incluidos los daños de cualquier tipo incurridos como resultado de dichos actos u omisiones.
            </p>
            <p>
                Tarifas y renovaciones. No habrá reembolsos ni créditos por meses parciales de ofertas de trabajo. El usuario debe actualizar la oferta mensualmente para cada puesto de trabajo.
            </p>
            <p>
                Usted asume la responsabilidad total por todos los impuestos y tarifas de cualquier naturaleza asociados con el Servicio, incluido cualquier impuesto sobre las ventas relacionado con cualquier compra o venta de servicios o bienes bajo los Términos. Al
                comprar o vender servicios o bienes bajo los Términos, es su responsabilidad determinar si los impuestos sobre las ventas se aplican o no a una transacción y cobrar, informar y remitir los montos correctos a la autoridad correspondiente.
            </p>
            <p>
                Tus responsabilidades. Si opera una Cuenta, comenta una captura de pantalla, publica material en el Servicio, publica enlaces en el Servicio o hace (o permite que un tercero haga) material disponible a través del Servicio (cualquier material de este tipo,
                "Contenido" ), usted es completamente responsable del contenido y de cualquier daño resultante de dicho Contenido. Ese es el caso independientemente de si el Contenido en cuestión constituye texto o gráficos. Al hacer que el Contenido
                esté disponible, usted declara y garantiza que:
            </p>
            <p>
                La descarga, copia y uso del Contenido no infringirá los derechos de propiedad, incluidos, entre otros, los derechos de autor, patentes, marcas registradas o derechos de secreto comercial de terceros;
            </p>
            <p>
                Si su empleador tiene derechos sobre la propiedad intelectual que usted crea, usted (i) recibió permiso de su empleador para publicar o poner a disposición el Contenido, incluido, entre otros, cualquier software, o (ii) obtuvo de su empleador una renuncia
                en cuanto a todos los derechos sobre el Contenido; ha cumplido completamente con las licencias de terceros relacionadas con el Contenido y ha hecho todo lo necesario para transmitir con éxito a los usuarios finales los términos requeridos;
            </p>
            <p>
                El Contenido no contiene ni instala ningún virus u otro contenido dañino o destructivo; el Contenido no es spam, no es generado por máquina o aleatoriamente, y no contiene contenido comercial no ético o no deseado diseñado para dirigir el tráfico a sitios
                de terceros o mejorar la clasificación de los motores de búsqueda de sitios de terceros, o para otros actos ilegales (tales como phishing) o engañar a los destinatarios en cuanto a la fuente del material (como suplantación de identidad);
            </p>
            <p>
                El Contenido no es obsceno, calumnioso o difamatorio, odioso o objetable racial o étnicamente, y no viola los derechos de privacidad o publicidad de ningún tercero; su Cuenta no se anuncia a través de mensajes electrónicos no deseados, como enlaces de
                spam en grupos de noticias, listas de correo electrónico, otros blogs y sitios web, y métodos promocionales no solicitados similares;
            </p>
            <p>
                Su cuenta no tiene un nombre que induzca a error a sus lectores a pensar que usted es otra persona o empresa. Por ejemplo, la URL o el nombre de su cuenta no es el nombre de una persona que no sea usted o una empresa que no sea la suya; y, en el caso
                del Contenido que incluye código informático, ha categorizado y / o descrito con precisión el tipo, la naturaleza, los usos y los efectos de los materiales, ya sea que Rework lo solicite o no.
            </p>
            <p>
                Al cargar Contenido o proporcionar Contenido a Rework, usted otorga a Rework el derecho a usar (incluido el derecho a alojar, indexar, almacenar en caché y formatear) y mostrar su Contenido en relación con la prestación del Servicio, así como también
                en el Sitio y nuestras comunicaciones de marketing con usted y otros usuarios y posibles usuarios del Servicio, incluidos, entre otros, nuestros correos electrónicos, canales de marketing y otros materiales promocionales (sujetos a los
                requisitos establecidos en la Política de privacidad). En la medida en que usemos su Contenido en nuestras comunicaciones de marketing, a menos que usted nos permita expresamente hacer lo contrario, siempre lo citaremos como propietario
                de dicho Contenido. Este párrafo sobrevivirá a la terminación o vencimiento de los Términos.
            </p>
            <p>
                Rework se reserva el derecho de rechazar o eliminar cualquier Contenido o cancelar o denegar el acceso a su uso del Servicio por cualquier motivo. Lea las Pautas de la comunidad para conocer las reglas y consejos sobre qué tipos de Contenido y usos del
                Servicio son apropiados en Rework.
            </p>
            <p>
                Todo el contenido subido tiene copyright © de sus respectivos propietarios.
            </p>
            <p>
                Si elimina el Contenido, Rework hará todos los esfuerzos razonables para eliminarlo del Servicio, pero usted reconoce que el almacenamiento en caché o las referencias al Contenido no pueden dejar de estar disponibles de inmediato.
            </p>
            <p>
                Sitios web y contenido de terceros. No hemos revisado, y no podemos revisar, todo el material, incluido el software de computadora, disponible a través de los sitios web y las páginas web a las que Rework hace referencia, y esas referencias a Rework.
                Rework no tiene ningún control sobre esos sitios web y páginas web que no pertenecen a Rework, y no es responsable de su contenido o uso. Al vincular a un sitio web o página web que no sea de Rework, Rework no representa ni implica que
                respalda dicho sitio web o página web. Usted es responsable de tomar las precauciones necesarias para protegerse y proteger sus sistemas informáticos de virus y otros contenidos dañinos o destructivos. Rework renuncia a cualquier responsabilidad
                por cualquier daño resultante de su uso de sitios web y páginas web que no sean de Rework.
            </p>
            <p>
                Propiedad intelectual. Todo el material disponible en el Servicio y todo el material y los servicios proporcionados por o a través de Rework, sus afiliados, subsidiarias, empleados, agentes, otorgantes de licencias u otros socios comerciales, incluidos,
                entre otros, el software, todo el texto informativo, la documentación del software, el diseño. de y "apariencia", diseño, fotografías, gráficos, audio, video, mensajes, mensajería instantánea e interactiva, diseño y funciones, archivos,
                documentos, imágenes u otros materiales, ya sean publicados públicamente o transmitidos de forma privada, así como todos los derivados las obras de los mismos (colectivamente, los "Materiales"), son de nuestra propiedad o de nuestros licenciantes
                o proveedores de servicios, y están protegidos por derechos de autor, marcas registradas, secretos comerciales y otras leyes de propiedad intelectual.
            </p>
            <p>
                Sujeto a su cumplimiento de los Términos, durante la vigencia de los Términos, Rework le otorga un derecho intransferible, no sublicenciable, no exclusivo, revocable y de propósito limitado para acceder y utilizar los Materiales que ponemos a disposición
                para ti.
            </p>
            <p>
                Si Rework, a su entera discreción y sin previo aviso, considera que existe un riesgo inmediato de seguridad u operativo para el Servicio, cualquiera de sus sistemas, el suyo o el de un tercero, entonces Rework puede suspender inmediatamente el acceso
                o el uso de el servicio. La suspensión de uso y acceso no constituye un incumplimiento de los Términos. Usted reconoce que la preservación de la seguridad, la confidencialidad y los datos es primordial. Rework no tiene ninguna responsabilidad
                ante usted por suspender el Servicio según esta disposición.
            </p>
            <p>
                Esta sección no se aplica al Contenido; sin embargo, usted acepta que cualquier idea, sugerencia, concepto, proceso o técnica que proporcione a Rework en relación con el Servicio o Rework o su negocio ("Comentarios") son y serán propiedad exclusiva de
                Rework sin ningún tipo de compensación u otra contraprestación pagadera a usted por Rework, y usted lo hace por su propia voluntad. Rework puede o no, a su entera discreción, usar o incorporar los Comentarios en cualquier forma o derivado
                que Rework decida en el Servicio o su negocio u otros productos. Por la presente, cede todos los derechos a nivel mundial a perpetuidad a Rework en cualquier comentario y, según corresponda, renuncia a cualquier derecho moral.
            </p>
            <p>
                Para los propósitos de los Términos y la Política de Privacidad, "información personal" es cualquier información sobre una persona identificable, como se define en nuestra Política de Privacidad.
            </p>
            <p>
                Trabajamos de forma remota se reserva el derecho de usar o compartir cualquier dato agregado generado por cualquier persona que use el servicio, incluidos nuestros usuarios, con el fin de mejorar y proporcionar el servicio. “Datos agregados” significa
                que los datos no contienen información personal y que han sido manipulados o combinados para proporcionar información generalizada y anónima. Cuando elige utilizar o conectar ciertos servicios de terceros con el Servicio, acepta que Rework
                puede compartir sus datos de clientes potenciales con dichos terceros designados. Usted sigue siendo responsable de toda la información personal que forme parte de cualquier Contenido.
            </p>
            <p>
                Cambios. Rework se reserva el derecho, a su entera discreción, de modificar o reemplazar cualquier parte de los Términos. Es su responsabilidad revisar los Términos periódicamente para ver si hay cambios. Su uso continuo o acceso al Servicio después de
                la publicación de cualquier cambio en los Términos constituye la aceptación de dichos cambios. Rework también puede, en el futuro, ofrecer nuevos servicios y / o características a través del Servicio (incluido el lanzamiento de nuevas
                herramientas y recursos). Tales nuevas características y / o servicios estarán sujetos a los Términos.
            </p>
            <p>
                Renuncia de garantías. El uso que haga del Servicio y de todo el Contenido que forme parte o esté relacionado con el Servicio, incluido cualquier Contenido que cargue o envíe y cualquier software y Contenido de terceros, es bajo su exclusiva responsabilidad
                y riesgo. El Servicio se proporciona "tal cual" y "según disponibilidad". Rework renuncia expresamente a todas las representaciones, garantías o condiciones de cualquier tipo con respecto al Servicio, ya sean expresas o implícitas, incluidas,
                entre otras, cualquier garantía o condición implícita de comerciabilidad, idoneidad para un propósito particular, precisión, integridad , rendimiento, integración del sistema, disfrute silencioso, título y no infracción.
            </p>
            <p>
                El servicio es ofrecido y controlado por Rework desde sus instalaciones en Chile. Rework no garantiza que el servicio sea apropiado o esté disponible para su uso en ubicaciones que no sean Chile. Aquellos que acceden o usan el Servicio desde otras jurisdicciones
                lo hacen por su propia voluntad y son responsables del cumplimiento de la ley local. Manejamos las quejas por infracción de derechos de autor de acuerdo con nuestra Política de derechos de autor.
            </p>
            <p>
                El servicio es ofrecido y controlado por Rework desde sus instalaciones en Chile. Rework no garantiza que el servicio sea apropiado o esté disponible para su uso en ubicaciones que no sean Chile. Aquellos que acceden o usan el Servicio desde otras jurisdicciones
                lo hacen por su propia voluntad y son responsables del cumplimiento de la ley local. Manejamos las quejas por infracción de derechos de autor de acuerdo con nuestra Política de derechos de autor. Limitación de responsabilidad. Usted acepta
                que, bajo ninguna teoría legal, lo que incluye, entre otros, negligencia, incumplimiento de garantía o condición, incumplimiento de contrato o agravio, Rework o sus propietarios, funcionarios, directores, afiliados, contratistas, empleados
                o agentes, serán responsable ante usted o cualquier tercero que actúe en su nombre por cualquier daño indirecto, incidental, especial, consecuente, punitivo o ejemplar o daños por pérdida de ganancias, buena voluntad, uso, datos u otras
                pérdidas intangibles o el costo de cualquier equipo sustituto , instalaciones o servicios (incluso si Rework ha sido informado de la posibilidad de tales daños), que surjan de o estén relacionados con los Términos o su uso o su incapacidad
                para usar el Servicio, o por cualquier daño que surja de o esté relacionado con las Condiciones. La responsabilidad total de Rework de todas y cada una de las reclamaciones en virtud de los Términos se limita a los montos totales que pagó
                a Rework en el (1) año inmediatamente anterior a la ocurrencia de la pérdida o daño. En la medida en que cualquier provincia, estado o jurisdicción no permita la exclusión o la limitación de responsabilidad por daños consecuentes o incidentales,
                la responsabilidad de Rework en dicha provincia, estado o jurisdicción se limitará al máximo permitido por la ley. No obstante lo anterior o cualquier otra cosa en este documento que indique lo contrario, Rework no será responsable ante
                usted o cualquier tercero que actúe en su nombre de ninguna manera con respecto a un programa de prueba o su suministro de información personal de un individuo a Rework o a través del Servicio. Además, acepta que las limitaciones anteriores
                se aplicarán con respecto a la responsabilidad de terceros de cualquier tipo.
            </p>
            <p>
                Las limitaciones anteriores también se aplicarán con respecto a cualquier daño incurrido en razón de cualquier contenido o servicio proporcionado en cualquier sitio de terceros o proporcionado de otra manera por terceros que no sea Rework y recibido por
                usted a través del Servicio o anunciado en él o recibido por usted en sitios de terceros. También acepta que Rework no será responsable por ninguna pérdida o daño de ningún tipo incurrido como resultado de interacciones o tratos con anunciantes
                o como resultado de la presencia de dichos anunciantes en el Servicio.
            </p>
            <p>
                Con respecto a cualquier disputa que surja de o esté relacionada con el Servicio y / o los Términos: (i) usted renuncia expresamente a su derecho a tener un juicio por jurado; y (ii) por la presente renuncia expresamente a su derecho a participar como
                miembro de una clase de reclamantes, en cualquier demanda, incluidas, entre otras, las demandas colectivas relacionadas con dicha disputa.
            </p>
            <p>
                Usted acepta que no presentará un reclamo bajo o relacionado con los Términos más de un (1) año desde que surgió su reclamo por primera vez.
            </p>
            <p>
                Representación general y garantía. Usted declara y garantiza que (i) su uso del Servicio será estrictamente de acuerdo con los Términos, la Política de Privacidad, las Pautas de la Comunidad y todas las leyes y regulaciones aplicables (incluidas, entre
                otras, las leyes o regulaciones locales en su país, estado, ciudad u otra área gubernamental, con respecto a la conducta en línea y el contenido aceptable, e incluidas todas las leyes aplicables con respecto a la transmisión de datos técnicos
                exportados desde Chile o el país en el que reside) y (ii) su uso del Servicio no infringirá ni apropiarse indebidamente de los derechos de propiedad intelectual de terceros.
            </p>
            <p>
                Indemnización. Usted acepta indemnizar, defender y eximir de responsabilidad a Rework y a sus subsidiarias, afiliadas, marcas conjuntas, todos los anunciantes externos, proveedores de tecnología, proveedores de servicios u otros socios, y a cada uno de
                sus respectivos funcionarios, directores, agentes, accionistas, empleados y representantes (en conjunto, las "Partes indemnizadas"), de y contra cualquier reclamo, demanda, pérdida, daño, costo o responsabilidad de terceros (incluidos
                los honorarios razonables de abogados) (colectiva e individualmente, "Reclamaciones") incurrido por o realizado contra las Partes indemnizadas en relación con cualquier Reclamación que surja de o esté relacionado con los Términos, el Servicio,
                incluido, entre otros, en relación con: (a) su uso, no uso o mal uso de, o conexión con el Servicio y cualquier Contenido; (b) su violación o presunta violación de los Términos; y (c) su violación de cualquier derecho, incluidos los derechos
                de propiedad intelectual, de un tercero y de otro modo según lo establecido en este documento. Rework se reserva el derecho, a su cargo, de asumir la defensa y el control exclusivos de cualquier asunto por el que deba indemnizar a Rework
                y usted acepta cooperar con la defensa de Rework de estas Reclamaciones. Usted acepta no resolver ningún asunto sin el consentimiento previo por escrito de Rework. Rework hará todos los esfuerzos razonables para notificarle sobre dichas
                Reclamaciones cuando tenga conocimiento de ellas.
            </p>
            <p>
                Diverso. Si existe alguna disputa entre usted y Rework sobre o en relación con los Términos, el Servicio, por la presente acepta que la disputa se regirá e interpretará de acuerdo con las leyes de Santiago, Chile, independientemente de su disposiciones
                sobre conflicto de leyes.
            </p>
            <p>
                Si cualquier parte de los Términos se considera ilegal, nula o inaplicable por cualquier árbitro o tribunal de jurisdicción competente, los Términos en su conjunto no se considerarán ilegales, nulos o inaplicables, sino solo la parte de los Términos que
                sea ilegal, nula o inaplicables se eliminarán de los Términos.
            </p>
            <p>
                Usted acepta que Rework puede hacer cumplir específicamente los Términos a través de medidas cautelares y otros recursos equitativos sin prueba de daños monetarios.
            </p>
            <p>
                Usted acepta que si Rework no ejerce ni hace cumplir ningún derecho o recurso legal que esté contenido en los Términos (o del que Rework tenga el beneficio de acuerdo con cualquier ley aplicable), esto no se considerará una renuncia formal de Los derechos
                de Rework y que esos derechos o recursos seguirán estando disponibles para Rework.
            </p>
            <p>
                Los Términos son el acuerdo completo entre nosotros relacionado con el tema en los Términos. Los Términos reemplazan cualquier otro acuerdo, representación o discusión anterior o contemporánea, oral o escrita, y no se pueden cambiar excepto por escrito
                firmado por nosotros, independientemente de si las partes actúan o no bajo un acuerdo "electrónico" no firmado o se basan en tal acuerdo sin firmar.
            </p>
        </div>
    </div>
</div>