.modal-content {
    background-color: #d1efed;
    border-radius: 30px !important;
}

.form-control {
    background-color: #fff !important;
}


/*
label.active {
    background-color: #d1efed !important;
}
*/