.modal-content {
    background-color: #d1efed;
    border-radius: 30px !important;
}

.form-control {
    background-color: #fff !important;
}


/*
.form-control.validate-success.ng-valid.ng-touched label,
.form-control.validate-success.ng-valid.ng-touched+label {
    box-shadow: 0 1px 0 0 #d1efed !important;
    border: 1px solid #d1efed !important;
}
*/


/*
input[type=text]:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #d1efed !important;
    border: 1px solid #d1efed !important;
}

input[type=text]:focus:not([readonly])+label {
    color: #d1efed;
}
*/