<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 2rem; padding-bottom:10rem;">
            <h2 style="font-weight: bold;">
                Política de privacidad
            </h2>
            <p style="font-weight: bold;">
                Actualizado Diciembre 28, 2020
            </p>
            <p>
                Rework se compromete a proteger la privacidad de la información personal (es decir, cualquier información relacionada con una persona física identificada o identificable) que visita el sitio web Rework. Las enmiendas a esta Política de privacidad se publicarán
                en el Sitio y / o los Servicios y serán efectivas cuando se publiquen. Su uso continuado del Sitio y / o los Servicios después de la publicación de cualquier enmienda a esta Política de Privacidad constituirá su aceptación de dicha enmienda.
            </p>
            <p>
                Consentimiento y recopilación y uso de información Cuando se registra como usuario de nuestro Sitio y Servicios, le pedimos información personal que se utilizará para activar su cuenta, proporcionarle los Servicios, comunicarnos con usted sobre el estado
                de su cuenta y para otros fines establecidos en esta Política de privacidad. Es posible que le solicitemos su nombre, nombre de la empresa, dirección, número de teléfono, dirección de correo electrónico, información de la tarjeta de crédito
                y cierta otra información sobre usted para proporcionar los Servicios o que usted la divulgue durante el uso de los Servicios. También se le pedirá que cree un nombre de usuario y una contraseña privada, que pasarán a formar parte de la
                información de su cuenta.
            </p>
            <p>
                Al proporcionarnos información personal y retenernos para brindarle los Servicios, usted acepta voluntariamente la recopilación, el uso y la divulgación de dicha información personal como se especifica en esta Política de privacidad. Las bases legales
                para nuestro procesamiento de información personal son principalmente que el procesamiento es necesario para proporcionar los Servicios y que el procesamiento se lleva a cabo en nuestros intereses legítimos, que se explican con más detalle
                a continuación. Sin limitar lo anterior, en ocasiones podemos pedirle su consentimiento cuando recopilamos, usamos o divulgamos su información personal en circunstancias específicas.
            </p>
            <p>
                Tomamos medidas diseñadas para garantizar que solo aquellos empleados que necesiten acceder a su información personal para cumplir con sus obligaciones laborales tengan acceso a ella. Podemos usar y divulgar su información personal o de su cuenta para
                los siguientes propósitos:
            </p>
            <p>
                Para proporcionarle el Sitio y los Servicios a usted y a otros usuarios del Sitio y los Servicios; Para mejorar la calidad del Sitio y los Servicios a través de sondeos, encuestas y otras actividades similares de recopilación de comentarios realizadas
                por Rework y / o terceros; Para crear, administrar y controlar la información de su cuenta y verificar los derechos de acceso al Sitio y los Servicios; Para facturar su cuenta; Para comunicarnos con usted (sujeto a sus derechos de exclusión
                voluntaria establecidos en esta Política de privacidad), incluido, entre otros, con el fin de brindarle información sobre los Servicios, o informarle de cambios o adiciones a los Servicios o de la disponibilidad de cualquier otro servicio
                o función que proporcionemos; Para evaluar los niveles de servicio, monitorear los patrones de tráfico y medir la popularidad de las diferentes características y opciones de servicio del Sitio y / o los Servicios; Para hacer cumplir esta
                Política de privacidad o nuestros Términos de servicio; Para protegerse contra fraude o error, y para responder a reclamos de cualquier violación de nuestros derechos o los de terceros; Para responder a sus solicitudes de servicio al cliente;
                Para proteger los derechos, la propiedad o la seguridad personal de usted, nosotros, nuestros usuarios y el público; y Según se requiera para cumplir con las leyes aplicables o según lo autorizado por las leyes aplicables. A los efectos
                de facturar su cuenta (si tiene una cuenta de pago) y para procesar pagos, Rework utiliza pasarelas de pago de terceros, como Stripe, que utilizarán su tarjeta de crédito y otra información de pago de acuerdo con sus respectivos políticas
                de privacidad. Rework no será responsable ante usted ni ante ninguna otra persona por ningún daño que pudiera resultar del uso no autorizado, publicación, divulgación o cualquier otro uso indebido de dicha información de pago, incluida
                la información de la tarjeta de crédito.
            </p>
            <p>
                Cuando divulgamos su información personal a terceros, tomamos medidas razonables para garantizar que se cumplan las reglas establecidas en esta Política de privacidad y que estos terceros brinden garantías suficientes para implementar las medidas técnicas
                y organizativas adecuadas.
            </p>
            <p>
                Su información personal puede almacenarse y procesarse en cualquier país donde tengamos instalaciones o en el que contratemos proveedores de servicios externos. Al utilizar los Servicios, usted acepta la transferencia de información a países fuera de
                su país de residencia, que pueden tener reglas de protección de datos diferentes a las de su país. Si bien dicha información se encuentra fuera de Chile, está sujeta a las leyes del país en el que se mantiene y puede estar sujeta a divulgación
                a los gobiernos, tribunales o agencias de aplicación de la ley o reguladoras de dicho otro país, de conformidad con las leyes de tal país. Sin embargo, nuestras prácticas con respecto a su información personal se regirán en todo momento
                por esta Política de privacidad y, si corresponde, cumpliremos con los requisitos del Reglamento general de protección de datos ("GDPR") que brindan la protección adecuada para la transferencia de información personal de la UE / EEE a
                un tercer país.
            </p>
            <p>
                Ocasionalmente, podemos comunicarnos con usted con respecto a nuestros productos, servicios, noticias y eventos. Tiene la opción de no recibir esta información. Ofrecemos una función de exclusión voluntaria dentro de todas las comunicaciones por correo
                electrónico de esta naturaleza, o dejaremos de comunicarnos con usted para este propósito si se comunica con nosotros y nos dice que no le comuniquemos esta información. El único tipo de estas comunicaciones de las que no puede "optar
                por no participar" son las que se requieren para comunicar anuncios relacionados con los Servicios, incluida información específica de su Cuenta, suspensiones y cortes de Servicios planificados. Intentaremos minimizar este tipo de comunicación
                con usted.
            </p>
            <h3>Edad de consentimiento</h3>
            <p>
                No proporcionamos los Servicios a sabiendas ni recopilaremos a sabiendas la información personal de ninguna persona menor de la edad de consentimiento. Si vive en un país de la UE / EEE, debe tener al menos 16 años para utilizar nuestros Servicios o la
                edad requerida en su país para registrarse o utilizar nuestros Servicios. Si vive en cualquier otro país, excepto los de la UE / EEE, debe tener al menos 13 años para utilizar nuestros Servicios o la edad requerida en su país para registrarse
                o utilizar nuestros Servicios. Además de tener la edad mínima requerida para usar nuestros Servicios según la ley aplicable, si no tiene la edad suficiente para tener la autoridad para aceptar nuestra Política de privacidad en su país,
                su padre o tutor debe aceptar nuestra Política de privacidad en su nombre.
            </p>
            <p>
                Ni el Sitio ni los Servicios están destinados a niños menores de 13 años, y nadie menor de 13 años puede proporcionar información personal a, en o a través del Sitio o los Servicios. No recopilamos a sabiendas información personal de niños menores de
                13 años. Si es menor de 13 años, no use ni proporcione información a, en o a través del Sitio o los Servicios, realice compras a través del Sitio o los Servicios, use cualquiera de los características de comentarios públicos, o proporcionarnos
                cualquier información sobre usted, incluido su nombre, dirección, número de teléfono, dirección de correo electrónico o cualquier nombre de pantalla o nombre de usuario que pueda usar. Si nos enteramos de que hemos recopilado o recibido
                información personal de un niño menor de 13 años sin verificación del consentimiento de los padres, eliminaremos esa información.
            </p>
            <h3>Derechos a su información</h3>
            <p>
                Tiene derecho a acceder y editar su información en cualquier momento a través de la interfaz web proporcionada como parte de los Servicios. Previa solicitud por escrito y sujeto a prueba de identidad, puede acceder a la información personal que tenemos,
                usamos o comunicamos y solicitar que se realicen las correcciones necesarias, cuando corresponda, según lo autorice o exija la ley. Sin embargo, para asegurarnos de que la información personal que mantenemos sobre usted sea precisa y esté
                actualizada, infórmenos inmediatamente de cualquier cambio en su información personal por correo o correo electrónico.
            </p>
            <p>
                Según el RGPD, puede tener derechos adicionales, que incluyen: (i) el derecho a retirar el consentimiento para el procesamiento cuando el consentimiento es la base del procesamiento; (ii) el derecho a acceder a su información personal y cierta otra información
                complementaria, bajo ciertas condiciones; (iii) el derecho a oponerse al procesamiento ilegal de datos, bajo ciertas condiciones; (iv) el derecho a borrar su información personal, bajo ciertas condiciones; (v) el derecho a exigir que restrinjamos
                el procesamiento de su información personal, bajo ciertas condiciones, si cree que hemos excedido la base legítima para el procesamiento, el procesamiento ya no es necesario, estamos procesando o cree que su información personal es inexacta;
                (vi) el derecho a la portabilidad de datos de la información personal que le concierne que nos haya proporcionado en un formato estructurado, de uso común y legible por máquina, bajo ciertas condiciones; (vii) el derecho a oponerse a que
                las decisiones se tomen por medios automatizados que produzcan efectos legales sobre usted o le afecten de manera similar de manera significativa, bajo ciertas condiciones; (viii) el derecho a presentar una queja ante las autoridades de
                protección de datos. Si desea obtener más información sobre sus derechos en virtud del GDPR, puede visitar la página de la Comisión Europea sobre Protección de datos.
            </p>
            <h3>Datos agregados</h3>
            <p>
                También podemos utilizar su información personal para generar datos agregados para uso interno y para compartir con otros de forma selectiva. “Datos agregados” significa registros a los que se les ha quitado la información que potencialmente identifica
                a los usuarios y que se han manipulado o combinado para proporcionar información generalizada y anónima. Su identidad e información personal se mantendrán anónimas en los datos agregados.
            </p>
            <h3>Enlaces</h3>
            <h4>Cookies y archivos de registro</h4>
            <p>
                Usamos cookies y archivos de registro para rastrear la información del usuario. Las cookies son pequeñas cantidades de datos que un servidor web transfiere a su navegador web y se almacenan en el disco duro de su computadora. Usamos cookies para rastrear
                qué variante de página ha visto un visitante, para rastrear si un visitante ha hecho clic en una variante de página, para monitorear patrones de tráfico y para medir la popularidad de las opciones de servicio. Usaremos esta información
                para brindarle contenido y servicios relevantes.
            </p>
            <h4>Anuncios de terceros y basados ​​en intereses</h4>
            <p>
                No controlamos la recopilación o el uso de su información por parte de terceros para ofrecer publicidad basada en intereses. Sin embargo, estos terceros pueden proporcionarle formas de elegir que su información no se recopile o utilice de esta manera.
                Puede optar por no recibir anuncios dirigidos de miembros de la Network Advertising Initiative ("NAI") en el sitio web de NAI.
            </p>
            <h4>Seguridad y retención</h4>
            <p>Nos esforzaremos por evitar el acceso no autorizado a su información personal; sin embargo, no se garantiza que la transmisión de datos a través de Internet, por dispositivo inalámbrico o por aire sea 100% segura. Hemos implementado y mantenemos
                procedimientos y prácticas de seguridad razonables (según la naturaleza de la información que recopilamos) para proteger esa información de la divulgación no autorizada. Continuaremos mejorando los procedimientos de seguridad a medida
                que estén disponibles nuevas tecnologías y procedimientos.</p>
            <p>
                Le recomendamos encarecidamente que no revele su contraseña a nadie.
            </p>
            <p>
                Recuerde que usted controla la información personal que proporciona mientras utiliza el Sitio y los Servicios. En última instancia, usted es responsable de mantener en secreto su identificación, contraseñas y / o cualquier información personal que tenga
                para el uso del Sitio y / o los Servicios. Sea siempre cuidadoso y responsable con su información personal. No somos responsables ni podemos controlar el uso por parte de terceros de la información que usted les proporcione y debe tener
                cuidado al seleccionar la información personal que proporciona a otros a través del Sitio o los Servicios. De manera similar, no podemos asumir ninguna responsabilidad por el contenido de cualquier información personal u otra información
                que reciba de otros usuarios a través del Sitio o los Servicios, y usted nos libera de toda responsabilidad en relación con el contenido de cualquier información personal u otra información. que puede recibir utilizando el Sitio o los
                Servicios. No podemos garantizar ni asumir ninguna responsabilidad por verificar la exactitud de la información personal u otra información proporcionada por un tercero. Usted nos libera de toda responsabilidad en relación con el uso de
                dicha información personal u otra información de terceros.
            </p>
            <p>
                Conservaremos su información personal durante el tiempo que sea necesario o según lo requieran las leyes, reglamentos u órdenes gubernamentales aplicables.
            </p>
            <h3>Cambios a esta política</h3>
            <p>
                Es posible que actualicemos esta Política de privacidad de vez en cuando. Si lo hacemos, enviaremos un correo electrónico a los usuarios suscritos a la lista de Noticias de la empresa. También agregaremos un banner en el sitio que alerta a los usuarios
                que pueden no estar suscritos. Si el cambio afecta materialmente el tratamiento de sus datos personales, y tenemos su correo electrónico pero no está suscrito a la lista de Noticias de la Compañía, le enviaremos un correo electrónico.
                (Usted es responsable de asegurarse de que tengamos un correo electrónico actualizado para este propósito).
            </p>
        </div>
    </div>
</div>