<mdb-navbar SideClass="navbar navbar-expand-md navbar-4 z-depth-0">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img id="logo" src="/assets/logo_rework_negro.svg" class="d-inline-block align-top" alt="Rework logo">
        </a>
    </mdb-navbar-brand>

    <links>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>FAQ</a>
            </li>
            <li class="nav-item d-block d-md-none">
                <a class="nav-link waves-light" mdbWavesEffect>Términos y condiciones</a>
            </li>
            <li class="nav-item d-block d-md-none">
                <a class="nav-link waves-light" mdbWavesEffect>Política de privacidad</a>
            </li>
            <li class="nav-item d-none d-md-block">
                <button id="btn-post" mdbBtn color="danger" class="align-middle waves-light" mdbWavesEffect type="button" routerLink="/post-job">Postear Trabajo</button>
            </li>
            <li id="redes-sociales-nav" class="nav-item d-block d-md-none">
                <img src="/assets/icon-instagram.svg">
                <img id="icon-linkedin" src="/assets/icon-linkedin.svg">
            </li>
        </ul>
    </links>

</mdb-navbar>
<!--/.Navbar-->