<!--Navbar-->
<mdb-card class="z-depth-1">
    <mdb-card-body>
        For the contingency that we're living Rework has released job posting for free ( for a very limited time ). We hope it'll be of great help to you.
    </mdb-card-body>
</mdb-card>
<mdb-navbar SideClass="navbar navbar-dark z-depth-0">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img id="logo" src="/assets/logo_rework_negro.svg" class="d-inline-block align-top" alt="Rework logo">
        </a>
    </mdb-navbar-brand>

    <div class="mr-auto"></div>
    <form [formGroup]="" class="form-inline">
        <button id="btn-post" mdbBtn color="danger" class="align-middle waves-light" mdbWavesEffect type="button" routerLink="/post-job">Post job</button>
    </form>

</mdb-navbar>
<!--/.Navbar-->