#logo {
    width: 7rem;
}

#btn-post {
    /*width: 1rem !important;*/
    font-size: .9rem;
    background-color: #f63704 !important;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}