<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark elegant-color-dark">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img id="logo" src="/assets/logo_rework.svg" class="d-inline-block align-top" alt="Rework logo">
        </a>
    </mdb-navbar-brand>

    <div class="mr-auto"></div>
    <form [formGroup]="" class="form-inline">
        <button id="btn-post" mdbBtn color="danger" class="align-middle waves-light" mdbWavesEffect type="button" routerLink="/post-job">Post job</button>
    </form>

</mdb-navbar>
<!--/.Navbar-->