@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/functions";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/variables";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/mixins";
#header-container {
    margin-top: 3.5rem;
}

#main-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #33383c;
}

#post-free-message {
    font-size: 1rem;
    padding: 0 0.5em;
}

#remote-works-title {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    padding: 1.25rem 1.7rem;
    border-radius: 4.5px;
    border: solid 1px #707070;
}

.category-name {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    font-weight: bold;
    line-height: 1.2;
    color: #33383c;
    width: 40%;
}

.category-icon {
    width: 2.5rem;
}

.category-selected {
    background-color: #d1efed;
}

.job-container {
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #bdbdbd;
}

.job-container-yellow {
    background-color: #fcfcd5;
    box-shadow: 0px 0px 0px 0px;
}

.job-details-container {
    margin: 3rem 0 8rem 0;
}


/*CKEditor descripción*/

.job-description h2 {
    font-size: 1.2rem;
}

.job-description h3 {
    font-size: 1.1rem;
}

.job-description h4 {
    font-size: 1rem;
}

.job-description p {
    font-size: .8rem;
}

.job-description ul li {
    font-size: .8rem;
}

.job-description ol li {
    font-size: .8rem;
}


/*Imagen empresa*/

.img-company {
    max-width: 120px;
    width: 100%;
}

.company-abbreviation {
    font-size: 1.25rem;
    font-weight: 500;
}

#job-company {
    font-size: 0.75rem;
    line-height: 1.2;
}

#job-position {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bold;
}

.work-type {
    color: #33383c;
    font-size: 0.75rem;
    font-weight: normal;
    padding: 0.2rem 0.5rem;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: solid 1px #33383c;
}

.job-location {
    font-size: 0.75rem;
    font-weight: normal;
}

.post-time {
    font-size: 0.75rem;
    color: #272727;
}

.btn-apply {
    width: 12rem;
    color: #ffffff !important;
    background-color: #f63704 !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.container-see-more {
    padding-top: 2rem;
}

.see-more {
    cursor: pointer;
    width: 45px;
}


/*Modal de generación de leads*/

#modal-lead-generation-title {
    font-size: 1.4rem;
    font-weight: bold;
}

#modal-lead-generation-paragraph {
    color: #33383c;
}


/*Estilos glidejs*/


/*
.glide__arrows {
    ;
}
*/

.arrow-categorias {
    font-weight: bold;
    color: #33383c;
    border: 1px solid #33383c;
    border-radius: 50%;
}

.arrow-categorias:hover {
    border: 1px solid black;
}

#btn-get-pdf {
    font-size: .9rem;
    width: 100%;
    color: #ffffff !important;
    background-color: #f63704 !important;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.margin-top-input-modal {
    margin-top: 2rem !important;
}

.margin-bottom-input-modal {
    margin-bottom: 2rem !important;
}

#tags-container {
    margin-top: .3rem;
}

@include media-breakpoint-up(sm) {
    /*Modal de generación de leads*/
    #modal-lead-generation-title {
        font-size: 1.8rem;
        font-weight: bold;
    }
    #modal-lead-generation-paragraph {
        font-size: 1.2rem;
    }
    #modal-body-container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    #post-free-message {
        font-size: 1.3rem;
        padding: 0;
    }
    .category-name {
        font-size: 1rem;
        width: 60%;
    }
    #remote-works-title {
        font-size: 1.3rem;
        padding: 0;
    }
    .job-container {
        padding: 1rem 0;
    }
    .company-abbreviation {
        font-size: 1.6rem;
    }
    #job-company {
        font-size: 1rem;
    }
    #job-position {
        font-size: 1.5rem;
    }
    .work-type {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }
    .job-location {
        font-size: 0.8rem;
    }
    .post-time {
        font-size: 0.9rem;
    }
    /*CKEditor descripción*/
    .job-description h2 {
        font-size: 1.5rem;
    }
    .job-description h3 {
        font-size: 1.4rem;
    }
    .job-description h4 {
        font-size: 1.3rem;
    }
    .job-description p {
        font-size: 1rem;
    }
    .job-description ul li {
        font-size: 1rem;
    }
    .job-description ol li {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(md) {
    #second-title {
        font-size: 1.1rem;
        font-weight: 500;
        color: #33383c;
    }
    .category-icon {
        width: 2.8rem;
    }
    #post-free-message {
        font-size: 1.5rem;
        padding: 0;
    }
    #remote-works-title {
        font-size: 1.7rem;
        padding: 0;
    }
    .job-container {
        padding: 1rem 0;
    }
    .company-abbreviation {
        font-size: 1.7rem;
    }
    #job-company {
        font-size: 1.1rem;
    }
    #job-position {
        font-size: 1.6rem;
    }
    .work-type {
        font-size: 0.9rem;
        padding: 0.2rem 0.7rem;
    }
    .job-location {
        font-size: 0.9rem;
    }
    .post-time {
        font-size: 1rem;
    }
    /*CKEditor descripción*/
    .job-description h2 {
        font-size: 1.4rem;
    }
    .job-description h3 {
        font-size: 1.3rem;
    }
    .job-description h4 {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(lg) {
    #main-title {
        font-size: 2.8rem;
    }
    #second-title {
        font-size: 1.5rem;
    }
    .category-name {
        font-size: 1.1rem;
    }
    #remote-works-title {
        font-size: 1.875rem;
        padding: 0;
    }
    #job-company {
        font-size: 1.125rem;
    }
    #job-position {
        font-size: 1.5rem;
    }
    .job-container {
        padding: 2rem 0;
    }
    .company-abbreviation {
        font-size: 2.5rem;
    }
    .work-type {
        font-size: 0.9rem;
        padding: 0.2rem 0.9rem;
    }
    .job-location {
        font-size: 0.9rem;
    }
    /*CKEditor descripción*/
    .job-description h2 {
        font-size: 1.7rem;
    }
    .job-description h3 {
        font-size: 1.6rem;
    }
    .job-description h4 {
        font-size: 1.5rem;
    }
}