@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/functions";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/variables";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/mixins";
.bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)), url("/assets/imagen-principal.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search {
    color: white;
}

#search::placeholder {
    color: white;
}

#post-free-message {
    font-size: 5vmin;
    padding: 0 5vw;
}

#remote-works-title {
    font-size: 5vmin;
    padding: 0 5vw;
}

.job-container {
    padding: 5vw 1vw;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #bdbdbd;
}


/*Imagen empresa*/

.img-company {
    max-width: 120px;
    width: 100%;
}

.company-abbreviation {
    font-size: 8vmin;
    font-weight: 500;
}

#job-company {
    font-size: 4vmin;
    font-weight: bold;
}

#job-position {
    font-size: 5vmin;
    font-weight: bold;
}

.work-type {
    color: #33383c;
    font-size: 4vmin;
    font-weight: 500;
    padding: 3px 14px 2px;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: solid 1px #33383c;
}

.job-location {
    font-size: 4vmin;
}

.post-time {
    font-size: 4vmin;
    color: #272727;
}

.container-see-more {
    padding-top: 60px;
}

.see-more {
    cursor: pointer;
    width: 45px;
}

@include media-breakpoint-up(sm) {
    #post-free-message {
        font-size: 3vmin;
        padding: 0;
    }
    #remote-works-title {
        font-size: 3vmin;
        padding: 0;
    }
    .job-container {
        padding: 2vw 1vw;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px #bdbdbd;
    }
    .company-abbreviation {
        font-size: 6vmin;
        font-weight: 500;
    }
    #job-company {
        font-size: 3vmin;
        font-weight: bold;
    }
    #job-position {
        font-size: 4vmin;
        font-weight: bold;
    }
    .work-type {
        color: #33383c;
        font-size: 2.5vmin;
        font-weight: 500;
        padding: 0.3rem 1rem;
        border-radius: 32px 32px 32px 32px;
        -moz-border-radius: 32px 32px 32px 32px;
        -webkit-border-radius: 32px 32px 32px 32px;
        border: solid 1px #33383c;
    }
    .job-location {
        font-size: 2.5vmin;
    }
    .post-time {
        font-size: 2.5vmin;
        color: #272727;
    }
}

@include media-breakpoint-up(md) {
    #post-free-message {
        font-size: 3vmin;
        padding: 0;
    }
    #remote-works-title {
        font-size: 4vmin;
        padding: 0;
    }
    .job-container {
        padding: 2vw 1vw;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px #bdbdbd;
    }
    .company-abbreviation {
        font-size: 6vmin;
        font-weight: 500;
    }
    #job-company {
        font-size: 2.5vmin;
        font-weight: bold;
    }
    #job-position {
        font-size: 3vmin;
        font-weight: bold;
    }
    .work-type {
        color: #33383c;
        font-size: 2vmin;
        font-weight: 500;
        padding: 0.3rem 1rem;
        border-radius: 32px 32px 32px 32px;
        -moz-border-radius: 32px 32px 32px 32px;
        -webkit-border-radius: 32px 32px 32px 32px;
        border: solid 1px #33383c;
    }
    .job-location {
        font-size: 2vmin;
    }
    .post-time {
        font-size: 2vmin;
        color: #272727;
    }
}