<div class="job-container mt-3" *ngFor="let item of [1,1,1,1]">
    <div class="row">
        <div class="col-12 col-md-9">
            <h5 class="h5-responsive grey-text">
                Amazon Photos
            </h5>
            <h2 class="h2-responsive font-weight-bold">
                Sr Product Manager, Photos on Alexa
            </h2>
            <div style="display: flex;align-items: center;">
                <span class="work-type font-weight-bold">
                    Full Time
                </span>
                <span class="grey-text ml-1">
                    Seattle, WA
                </span>
            </div>
        </div>
        <div class="col-12 col-md-3 pt-3 pt-sm-0">
            <button mdbBtn type="button" gradient="peach" rounded="true" block="true" (click)="apply()" mdbWavesEffect>Apply</button>
        </div>
    </div>
</div>