<div class="bg">
    <div class="container" style="height: 100%;">
        <div class="row justify-content-center align-items-center" style="height: 100%;">
            <div class="col-12">
                <h1 class="h1-responsive text-center text-white">
                    Rework is a remote work community where you can <br> find and list remote work.
                </h1>
                <div class="col-12 col-md-6 offset-md-3">
                    <form [formGroup]="searchForm" class="form-inline md-form form-sm">
                        <mdb-icon fas icon="search" aria-hidden="true" style="color: white;"></mdb-icon>
                        <input id="search" formControlName="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search by job position" aria-label="Search" (keyup)="$searchTerm.next($event.target.value)" mdbInput>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-md" style="padding-top: 5vw;padding-bottom: 5vw;">

    <div class="row">
        <div class="col">
            <p id="post-free-message">
                For the contingency that we're living Rework has released job posting for free ( for a very limited time ).<br> We hope it'll be of great help to you.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!--Filtro de categorías-->
            <div class="text-center my-4">
                <a *ngFor="let category of categories" (click)="filterJobsByCategory(category._id)">

                    <mdb-badge class="ml-1 mt-1" pill="true" default="true" style="padding: 10px;" *ngIf="categorySelected !== category._id">
                        {{ category.name }}
                    </mdb-badge>
                    <mdb-badge class="ml-1 mt-1" pill="true" warning="true" style="padding: 10px;" *ngIf="categorySelected === category._id">
                        {{ category.name }}
                    </mdb-badge>
                </a>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <p id="remote-works-title" class="font-weight-bold">
                Today's telecommuting jobs, good luck!
            </p>
        </div>
    </div>

    <div class="row mt-3 job-container" *ngFor="let job of jobs" (click)="apply( job.url )" style="cursor: pointer;">
        <div class="col-12">
            <div class="row">
                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center">
                    <img *ngIf="job.companyImage" [src]="job.companyImage | imageUrl" class="rounded-circle img-company" />
                    <div *ngIf="!job.companyImage" class="company-abbreviation d-flex justify-content-center align-items-center" style="width: 100%;height: 100%;">
                        <span class="company-abbreviation">
                            {{ job.company | companyAbbreviation }}
                        </span>
                    </div>
                </div>
                <div class="col-7 col-md-8">
                    <p id="job-company" style="margin-bottom: 0;">
                        {{ job.company }}
                    </p>
                    <p id="job-position" style="margin-bottom: 0;">
                        {{ job.position }}
                    </p>
                    <div class="mt-1 mt-lg-2">
                        <span class="work-type">
                                {{ job.type.name }}
                        </span>
                        <span class="job-location ml-1 font-weight-bold" *ngFor="let location of job.location | locationsSplit">
                                {{ location  }}
                        </span>
                    </div>
                </div>
                <div class="col-2 col-md-2 d-flex align-items-center">
                    <span class="post-time">
                        {{ job.created | timeAgo }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center container-see-more">
        <img src="/assets/icons/see-more.png" class="see-more" (click)="loadMoreJobs()" *ngIf="moreJobs">
    </div>

</div>