<div class="job-container mt-3" *ngFor="let job of jobs">
    <div class="row">
        <div class="col-12 col-md-9">
            <h5 class="h5-responsive grey-text">
                {{ job.company }}
            </h5>
            <h2 class="h2-responsive font-weight-bold">
                {{ job.position }}
            </h2>
            <div style="display: flex;align-items: center;">
                <span class="work-type font-weight-bold">
                    {{ job.type.name }}
                </span>
                <span class="grey-text ml-1">
                    {{ job.location }}
                </span>
            </div>
        </div>
        <div class="col-12 col-md-3 pt-3 pt-sm-0">
            <button mdbBtn type="button" gradient="peach" rounded="true" block="true" (click)="apply( job.url )" mdbWavesEffect>Apply</button>
        </div>
    </div>
</div>