<div style="height: 300px; background-color: #d1efed; padding: 0 10px;">
    <div class="container d-flex flex-column justify-content-center" style="height: 100%;">
        <h1 class="h1-responsive font-weight-bold" style="color:#33383c;">
            Allows professionals around the world <br> looking for remote jobs work with you.
        </h1>
        <span class="font-weight-bold" style="color:#33383c;">
            Free for a very limited time, then starting at $149.99 usd for 30 days
        </span>
    </div>
</div>

<div class="container" style="padding-top: 10px; padding-bottom: 10px;">

    <h1 class="h1-responsive font-weight-bold">Create your job listing</h1>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <form [formGroup]="newJobForm">

        <div class="md-form md-outline">
            <input mdbInput mdbValidate type="text" id="company" class="form-control" formControlName="company">
            <label for="company" class="">Company name</label>
            <mdb-error *ngIf="company.invalid && (company.dirty || company.touched)">
                <span *ngIf="company.errors.required">Company is required</span>
            </mdb-error>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="job-title" class="form-control" formControlName="jobTitle">
            <label for="job-title" class="">Job title</label>
            <mdb-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)">
                <span *ngIf="jobTitle.errors.required">Job title is required</span>
            </mdb-error>
        </div>

        <div class="md-form margin-top-input">
            <select mdbValidate class="browser-default custom-select" formControlName="category">
            <option value="-99">Category for this position</option>
            <option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
            </option>
        </select>
            <mdb-error *ngIf="category.invalid">
                <span *ngIf="category.errors?.required">Category is required</span>
            </mdb-error>
        </div>

        <div class="md-form margin-top-input">
            <select mdbValidate class="browser-default custom-select" formControlName="type">
            <option value="-99">Type of this position</option>
            <option *ngFor="let type of types" [value]="type._id">{{ type.name }}</option>
        </select>
            <mdb-error *ngIf="type.invalid">
                <span *ngIf="type.errors.required">Type is required</span>
            </mdb-error>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput type="text" id="location" class="form-control" formControlName="location">
            <label for="location" class="">Location</label>
            <!--
        <mdb-error *ngIf="location.invalid && (location.dirty || location.touched)">
            <span *ngIf="location.errors.required">Location is required</span>
        </mdb-error>
        -->
            <p class="input-explanation">
                Specify from which places you're looking for applicants. Separate locations with commas. If you're looking around the world leave it blank.
            </p>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="job-url" class="form-control" formControlName="url">
            <label for="job-url" class="">Link to the job description</label>
            <mdb-error *ngIf="url.invalid && (url.dirty || url.touched)">
                <span *ngIf="url.errors.required">Link is required</span>
            </mdb-error>
            <p class="input-explanation">
                Include the url where applicants can find your job description. Don't include the http or https protocol, example www.yourjoburl.com.
            </p>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="contact-email" class="form-control" formControlName="email">
            <label for="contact-email" class="">Contact email</label>
            <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email.errors.required">Contact email is required</span>
                <span *ngIf="email.errors.email">The email format isn't valid</span>
            </mdb-error>
            <p class="input-explanation">
                Email where you'll receive your job edit link, won't be displayed in your job.
            </p>
        </div>

        <!--Boosters-->
        <div style="margin-top:70px;" *ngIf="boosterService.find( boosters, 'booster_1' )">

            <h1 class="h1-responsive font-weight-bold">Highlight your post</h1>
            <h4 class="h3-responsive">
                Add your company logo for <span class="price-image-booster">$99</span> free.
            </h4>
            <p>
                Remember to consider these indications:
            </p>
            <ul>
                <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.extension === true}">JPG or PNG file. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.extension === false" /></li>
                <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.fileSize === true }">Maximum file size 2 MB. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.fileSize === false" /></li>
                <li class="file-restriction-normal" [ngClass]="{'file-restriction-valid': fileValidations.dimensions === true }">Minimum 150x150px square image. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.dimensions === false" /></li>
            </ul>
            <div class="d-flex flex-column align-items-center">

                <div id="empty-image" class="company-image" [ngClass]="{'d-none': fileName}"></div>
                <img id="company-image" class="company-image" [ngClass]="{'d-none': !fileName}" /><br>
                <input type="file" class="d-none" #fileUpload (change)="onFileSelected($event, 'booster_1')">
                <button mdbBtn type="button" id="button-select-image" outline="true" mdbWavesEffect (click)="fileUpload.click()" [disabled]="loadingFile" *ngIf="!fileName">
                    <span *ngIf="!loadingFile">Select image</span>
                    <span *ngIf="loadingFile">Uploading...</span>
                </button>
                <button mdbBtn type="button" id="button-remove-image" outline="true" *ngIf="fileName" (click)="removeFile('booster_1')" mdbWavesEffect>
                    Remove file
                </button>

            </div>

        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-3 d-flex justify-content-center">
                <button mdbBtn type="button" class="btn-post" rounded="true" block="true" mdbWavesEffect [disabled]="newJobForm.invalid || loading || loadingFile" (click)="pay()">
                    <div class="spinner-border" role="status" *ngIf="loading">
                        <span class="sr-only">Redirecting to checkout...</span>
                    </div>
                    <span *ngIf="!loading">
                        Post job
                    </span>
                </button>
            </div>
        </div>

    </form>

</div>