#main-banner {
    height: 19rem;
    background-color: #d1efed;
    padding: 0 0.7rem;
}

.price-image-booster {
    text-decoration: line-through;
}

.margin-top-input {
    margin-top: 50px !important;
}

.input-explanation {
    font-size: 14px;
    margin-top: 25px;
}