@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/functions";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/variables";
@import "node_modules/angular-bootstrap-md/assets/scss/bootstrap/mixins";
#main-banner {
    height: 19rem;
    background-color: #d1efed;
    padding: 2.9 0.7rem;
}

#container-create-job {
    padding-top: 2.9rem;
}

.addedTag {
    display: inline-block;
    font-size: .8rem;
    //background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .2rem .3rem;
    margin-right: .4rem;
    margin-top: .4rem;
}

.addedTag:hover {
    cursor: pointer;
}


/*
#tags-container .addedTag:not(:first-child) {
    //margin-left: 1rem;
}
*/

#yellow-post-checkbox {
    margin-top: 1.3rem;
}

#yellow-post-color {
    background-color: #FCFCD5;
    padding: 0 .5rem;
}

#sticky-checkbox-container {
    margin-top: 1.3rem;
}

.sticky-radio-option {
    padding-top: .6rem;
}

#sticky-options-container {
    padding-top: 1rem;
    padding-left: 2rem;
}

.price-image-booster {
    text-decoration: line-through;
}

#col-btn-post {
    margin-bottom: 11rem;
}

@include media-breakpoint-up(xs) {
    .btn-post {
        font-size: 0.75rem;
        width: 80%;
    }
}

@include media-breakpoint-up(sm) {
    .btn-post {
        font-size: 0.8rem;
        width: 40%;
    }
}

@include media-breakpoint-up(sm) {
    .btn-post {
        font-size: .9rem;
        width: 45%;
    }
}

@include media-breakpoint-up(lg) {
    .btn-post {
        width: 30%;
    }
}