<h1 class="h1-responsive font-weight-bold">Create your job listing</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
</div>
<form [formGroup]="newJobForm">
    <div class="md-form">
        <input mdbInput type="text" id="company" class="form-control" formControlName="company">
        <label for="company" class="">Company name</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="job-title" class="form-control" formControlName="jobTitle">
        <label for="job-title" class="">Job title</label>
    </div>
    <div class="md-form">
        <select class="browser-default custom-select" formControlName="category">
            <option value="-99">Category for this position</option>
            <option value="1">Engineering</option>
            <option value="2">Design</option>
            <option value="3">Marketing</option>
            <option value="4">Sales</option>
            <option value="5">Customer support</option>
            <option value="6">Product</option>
            <option value="7">Other</option>
        </select>
    </div>
    <div class="md-form">
        <select class="browser-default custom-select" formControlName="type">
            <option value="-99">Type of this position</option>
            <option value="1">Full Time</option>
            <option value="2">Part Time</option>
            <option value="3">Freelance</option>
        </select>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="location" class="form-control" formControlName="location">
        <label for="location" class="">Location</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="job-url" class="form-control" formControlName="url">
        <label for="job-url" class="">Link to the job description</label>
    </div>
    <div class="md-form">
        <input mdbInput type="text" id="contact-email" class="form-control" formControlName="email">
        <label for="contact-email" class="">Contact email</label>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3">
            <button mdbBtn type="button" gradient="peach" rounded="true" block="true" mdbWavesEffect [disabled]="newJobForm.invalid" (click)="pay()">Pay $69.99</button>
        </div>
    </div>
</form>