<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>

<div id="main-banner">
    <div class="container d-flex flex-column justify-content-center" style="height: 100%;">
        <h1 class="h1-responsive font-weight-bold" style="color:#33383c;">
            Permite a profesionales alrededor del mundo formar parte de tu equipo.
        </h1>
        <span class="font-weight-bold" style="color:#33383c;">
            Gratis por tiempo limitado, luego comenzando a $47 USD por 30 días
        </span>
    </div>
</div>


<div id="container-create-job" class="container container-padding">

    <h1 class="h1-responsive font-weight-bold">
        Crea tu post de trabajo
    </h1>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <form [formGroup]="newJobForm">

        <div class="md-form md-outline">
            <input mdbInput mdbValidate type="text" id="company" class="form-control" formControlName="company">
            <label for="company" class="">Nombre de empresa *</label>
            <mdb-error *ngIf="company.invalid && (company.dirty || company.touched)">
                <span *ngIf="company.errors.required">La empresa es requerida</span>
            </mdb-error>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="job-title" class="form-control" formControlName="jobTitle">
            <label for="job-title" class="">Título del trabajo *</label>
            <mdb-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)">
                <span *ngIf="jobTitle.errors.required">Título del trabajo es requerido</span>
            </mdb-error>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input #tag mdbInput type="text" id="job-tags" class="form-control" (keyup)="addTag( $event, tag.value )">
            <label for="job-tags" class="">Tags</label>
            <p class="input-explanation">
                Añade tags para resaltar herramientas o conocimiento importante que esperas posean los postulantes. Escribelo y presiona Enter para añadirlo.
            </p>
        </div>
        <div id="tags-container">
            <span *ngFor="let tag of tagsAdded" class="addedTag">{{tag}}</span>
        </div>

        <div class="md-form margin-top-input">
            <select mdbValidate class="browser-default custom-select" formControlName="category">
            <option value="-99">Categoría del post *</option>
            <option *ngFor="let category of categories" [value]="category._id">
                {{ category.name }}
            </option>
        </select>
            <mdb-error *ngIf="category.invalid">
                <span *ngIf="category.errors?.required">Categoría es requerida</span>
            </mdb-error>
        </div>

        <div class="md-form margin-top-input">
            <select mdbValidate class="browser-default custom-select" formControlName="type">
            <option value="-99">Tipo de post *</option>
            <option *ngFor="let type of types" [value]="type._id">{{ type.name }}</option>
        </select>
            <mdb-error *ngIf="type.invalid">
                <span *ngIf="type.errors.required">Tipo es requerido</span>
            </mdb-error>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput type="text" id="location" class="form-control" formControlName="location">
            <label for="location" class="">Ubicación</label>
            <p class="input-explanation">
                Especifica los lugares desde los cuales buscas postulantes. Separa las ubicaciones por punto y coma. Si buscas postulantes desde cualquier lugar deja este campo en blanco.
            </p>
        </div>


        <!--Description-->
        <div class="margin-top-input" style="width:100%">
            <ckeditor [editor]="editor" [config]="editorConfig" formControlName="description"></ckeditor>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="job-url" class="form-control" formControlName="url">
            <label for="job-url" class="">URL sitio de postulación</label>
            <!--
            <mdb-error *ngIf="url.invalid && (url.dirty || url.touched)">
                <span *ngIf="url.errors.required">Enlace es requerido</span>
            </mdb-error>
            -->
            <p class="input-explanation">
                Incluye el enlace donde los aplicantes podrán enviar su información de postulación. No incluyas los protocolos http o https, ejemplo www.mipaginadepostulacion.com
            </p>
        </div>

        <div class="md-form md-outline margin-top-input">
            <input mdbInput mdbValidate type="text" id="contact-email" class="form-control" formControlName="email">
            <label for="contact-email" class="">Email de contacto *</label>
            <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email.errors.required">Email es requerido</span>
                <span *ngIf="email.errors.email">El formato no es válido</span>
            </mdb-error>
            <p class="input-explanation">
                Email donde recibirás tu enlace para editar este post. No será desplegado en el post.
            </p>
        </div>

        <h1 style="margin-top: 4rem;" class="h1-responsive font-weight-bold">Resalta tu post</h1>
        <!--Boosters-->
        <div style="margin-top: 1.5rem;" *ngIf="boosterService.find( boosters, 'booster_1' )">
            <mdb-checkbox [default]="true" #checkImage (change)="checkAddImage( $event )">Añade el logo de tu empresa por $37 USD.</mdb-checkbox>
            <div style="margin-top: .7rem;" *ngIf="displayUploadImageContainer">
                <p>
                    Recuerda considerar estas indicaciones:
                </p>
                <ul>
                    <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.extension === true}">Formato JPG or PNG. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.extension === false" /></li>
                    <li class="file-restriction-normal" [ngClass]="{ 'file-restriction-valid': fileValidations.fileSize === true }">Tamaño máximo de archivo 2 MB. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.fileSize === false" /></li>
                    <li class="file-restriction-normal" [ngClass]="{'file-restriction-valid': fileValidations.dimensions === true }">Mínimo imagen cuadrada de 150x150px. <img src="/assets/icons/Icon_error.svg" *ngIf="fileValidations.dimensions === false" /></li>
                </ul>
                <div class="d-flex flex-column align-items-center">

                    <div class="empty-image company-image" [ngClass]="{'d-none': fileName}"></div>
                    <img id="company-image" class="company-image" [ngClass]="{'d-none': !fileName}" /><br>
                    <input type="file" class="d-none" #fileUpload (change)="onFileSelected($event, 'booster_1')">
                    <button mdbBtn type="button" id="button-select-image" outline="true" mdbWavesEffect (click)="fileUpload.click()" *ngIf="!fileName">
                        Seleccionar imagen
                    </button>
                    <button mdbBtn type="button" id="button-remove-image" outline="true" *ngIf="fileName" (click)="removeFile('booster_1')" mdbWavesEffect>
                       Remover imagen
                    </button>

                </div>
            </div>
        </div>
        <div id="yellow-post-checkbox">
            <mdb-checkbox [default]="true" (change)="yellowPostCheckboxChange( $event )">Añade un atractivo <span id="yellow-post-color">amarillo</span> y destaca tu post por $59 USD.</mdb-checkbox>
        </div>
        <div id="sticky-checkbox-container">
            <mdb-checkbox [default]="true" #sticky (change)="stickyOptionsClicked( $event )">Fija tu publicación al comienzo de la lista a partir de $67 USD.</mdb-checkbox>
            <div id="sticky-options-container" *ngIf="sticky.checked">
                <div class="form-check sticky-radio-option" *ngFor="let stickyOption of stickyOptions">
                    <input type="radio" class="form-check-input" [id]="stickyOption.code" [value]="boosterService.getId( boosters, stickyOption.code )" (change)="stickyRadioSelected( $event )" formControlName="sticky">
                    <label class="form-check-label" [for]="stickyOption.code">{{ stickyOption.name }} {{ boosterService.getPrice(boosters, stickyOption.code) | formatPrice }}.</label>
                </div>

            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 8rem;">
            <div id="col-btn-post" class="col-12 d-flex justify-content-center">
                <button mdbBtn type="button" class="btn-post" rounded="true" block="true" [disabled]="newJobForm.invalid" (click)="pay()" mdbWavesEffect>
                        Postear trabajo - <span style="text-decoration: line-through;">{{ calculatePostFinalPrice() | formatPrice }}</span>
                </button>
            </div>
        </div>

    </form>

    <!--Pixel Linkedin página post-job-->
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2781866&conversionId=3603986&fmt=gif" />
</div>