#main-banner {
    height: 19rem;
    background-color: #d1efed;
    padding: 2.9 0.7rem;
}

#container-create-job {
    padding-top: 2.9rem;
}

#yellow-post-checkbox {
    margin-top: 1.3rem;
}

#yellow-post-color {
    background-color: #FCFCD5;
    padding: 0 .5rem;
}

#sticky-checkbox-container {
    margin-top: 1.3rem;
}

.sticky-radio-option {
    padding-top: .6rem;
}

#sticky-options-container {
    padding-top: 1rem;
    padding-left: 2rem;
}

.price-image-booster {
    text-decoration: line-through;
}

#col-btn-post {
    margin-bottom: 11rem;
}