<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 2rem; padding-bottom:10rem;">
            <h2 style="font-weight: bold;">
                ¿Tienes preguntas sobre Rework?
            </h2>
            <p>
                Tenemos las respuestas.
            </p>
            <h3>
                ¿Qué es Rework?
            </h3>
            <p>
                Es una plataforma para la búsqueda y publicación de trabajos remotos. Nacida el año 2020, a raíz de la pandemia del COVID-19 que nos ha afectado a nivel global hemos decidido aportar a la expansión del trabajo remoto desde cualquier parte del mundo, pero
                poniendo nuestro mayor esfuerzo en Latinoamérica.
            </p>
            <h3>
                ¿ Cómo posteo mi trabajo?
            </h3>
            <div>
                <p>Si estás buscando profesionales cualificados a nivel mundial has llegado al lugar correcto. Para postear un trabajo en Rework: </p>
                <ol>
                    <li>Navega a la página de <a id="post-job-link" routerLink="/post-job" target="__blank">postear trabajo.</a></li>
                    <li>Completa el formulario con la información del trabajo y de tu empresa. Luego presiona el botón de postear trabajo.</li>
                    <li>Completa tu información de pago en Stripe.</li>
                    <li>Luego que el pago sea exitoso recibirás un email con el link para poder editar tu trabajo cuando lo requieras. No olvides mantener el link en un lugar seguro y accesible, es la única forma que podrás acceder al trabajo que publicaste.</li>
                </ol>
                <p>Todos los pagos son procesados de forma segura mediante Stripe.</p>
            </div>
            <div>
                <h3>¿Cuánto cuesta el servicio?</h3>
                <h4>Precio base</h4>
                <p>El precio base de un post en Rework es de $37 USD.</p>
                <h4>
                    Destácate del resto
                </h4>
                <p>
                    También puedes personalizar tu trabajo y destacarte del resto de postulaciones, esto para generar mayor atracción de los postulantes en nuestra comunidad. Para esto puedes seleccionar las siguientes mejoras:
                </p>
                <h5>Logo de empresa</h5>
                <p>
                    Añade el logo de tu empresa a tu post de trabajo que desplegamos en nuestra página principal.<br>Precio: $15 USD.
                </p>
                <h5>Destaque amarillo</h5>
                <p>
                    Añade un atractivo color amarillo de color de fondo de tu post de trabajo.<br>Precio: $27 USD.
                </p>
                <h5>Sticky en página principal</h5>
                <p>
                    Fija tu post de trabajo por un tiempo limitado en la página principal de Rework. Destacate del resto y aumenta tus posibilidades de ser encontrado y obtener mayor cantidad de postulaciones. <br>24 horas : $37 USD. <br>7 días: $57 USD.
                    <br>30 días: $97 USD.

                </p>
                <h3>¿Cuánto tiempo permanece activa mi publicación?</h3>
                <p>
                    La publicación permanecerá activa y visible en nuestra página principal por 30 días. Luego de cumplidos los 30 días la publicación será inhabilitada y removida.
                </p>
                <h3>¿Cómo realizo cambios a mi publicación?</h3>
                <p>
                    Por cada publicación de trabajo que realices te será enviado por email un link, al acceder a este se abrirá la página donde podrás editar la información del trabajo y la empresa cuantas veces requieras y sin costo adicional. </p>
            </div>
        </div>
    </div>
</div>